<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>nara</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" crossorigin="anonymous"></script>
    <style>
    body {
      font-family: Helvetica Neue;
    }
    th, td {
      min-width: 10em;
      text-align: left;
    }
    .name { font-weight: bold; }
  </style>
  </head>
  <body>
    <table id="naras">
      <tr>
        <th>Name</th>
        <th>Neighbourhood</th>
        <th>Online</th>
        <th>Last Seen</th>
        <th>Last Restart</th>
        <th>First Seen</th>
        <th>Restarts</th>
      </tr>
    </table>
  <script>
    $(function() {
          var $naras = $("#naras");
          var updateNara = function(name, data) {
                var ver = data.Verdict;
                var $nara = $("#nara-" + name)
                if ($nara.length == 0) {
                      $nara = $("<tr>").attr("id", "nara-" + name)
                      $nara.append($("<td>").addClass("name"))
                      $nara.append($("<td>").addClass("barrio"))
                      $nara.append($("<td>").addClass("online"))
                      $nara.append($("<td>").addClass("last_seen"))
                      $nara.append($("<td>").addClass("last_restart"))
                      $nara.append($("<td>").addClass("first_seen"))
                      $nara.append($("<td>").addClass("restarts"))
                      $naras.append($nara);
                }
                $nara.find(".name").text(name)
                $nara.find(".barrio").text(ver.ClusterName)
                $nara.find(".online").text(ver.Online)
                $nara.find(".restarts").text(ver.Restarts)
                $nara.find(".last_seen").text(moment(ver.LastSeen * 1000).fromNow())
                $nara.find(".last_restart").text(moment(ver.LastRestart * 1000).fromNow())
                $nara.find(".first_seen").text(moment(ver.StartTime * 1000).fromNow())
              }
          var updateNaras = function(data) {
                for (const name in data) {
                      updateNara(name, data[name]);
                    }
          };
          setInterval(function() {
                $.ajax({url: '/api.json' }).done(updateNaras);
              }, 1000);
      });
  </script>
  </body>
</html>
