name: Build and Push Docker Image (Nix)

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Build Docker Image with Nix
        run: nix build .#docker

      - name: Load Image into Docker
        run: docker load < result

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Tag and Push Image
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository }}
          # Change all uppercase to lowercase
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          
          docker tag nara:latest $IMAGE_ID:latest
          docker tag nara:latest $IMAGE_ID:${{ github.sha }}
          
          docker push $IMAGE_ID:latest
          docker push $IMAGE_ID:${{ github.sha }}
